* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(109, 236, 147);
  display: flex;
  flex-flow: column;
  min-width: 210mm;
  min-height: 297mm;
}

header {
  background-color: rgb(214, 155, 65);
  text-align: center;
}

main {
  display: flex; /* 親要素をFlexboxにする */
  justify-content: center; /* 横を中央揃えにする */
  align-items: center; /* 縦を中央揃えにする */
  flex-direction: column;
}

.user-information {
  width: 200px;
  background-color: rgb(216, 99, 99);
  padding: 10px;

  &__top {
    display: flex;
    background-color: blue;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
  }

  &__name {
    background-color: white;
  }

  &__member-status {
    background-color: gold;
  }
}

footer {
  background-color: black;
  text-align: center;
  margin-top: auto;
  color: white;
  height: 60px;
  padding: 20px;
}
