* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(109, 236, 147);

  // 20210304d-flex
  // display: flex;

  // 20210304flex-column
  // flex-flow: column;

  min-width: 210mm;
  height: 297mm;
}

header {
  background-color: rgb(214, 155, 65);

  // 20210304bootstrapのzindex-fixedでは
  // z-index: 99;
  height: 60px;
}

.contents {
  background-color: rgb(122, 118, 118);
  padding: 5px 20px 0px 20px;
}

.user-information {
  // 20210305近いもの：p-1
  // padding: 5px;

  background-color: rgb(161, 158, 158);

  &__icon {
    background-image: url(../resource/UserIcon.png);
    background-size: cover;

    // 20210305近いもの：p-1
    // margin-right: 5px;
  }

  // &__profile {
  //   // 20210305近いもの：p-1
  //   // padding: 5px;

  //   // 20210305align-items-start
  //   // align-items: flex-start;
  //   // height: 100px;
  // }

  // &__profile__top {
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }

  &__profile__top__name {
    // margin-right: 5px;
    background-color: white;

    // 20210305text-center
    // text-align: center;

    // width: 100px;
  }

  &__profile__top__member-status {
    background-color: gold;
    width: 150px;
  }

  &__profile__introduction {
    background-color: white;
    // margin-top: 5px;
    // width: 100%;
    height: 50px;
  }

  // &__profile__introduction > span {
  //   padding: 10px;
  // }
}

.user-assertion {
  height: 800px;
  &__left-side-bar {
    background-color: white;
  }

  &__contents {
    background-color: rgb(209, 240, 169);
  }

  &__contents__article {
    height: 200px;
    background-color: rgb(12, 126, 59);
    // 20210305bootstrapでは線の太さまでは調整できないかもしれない
    border: black 1px solid;
  }

  &__contents__article__body {
    height: 90%;
  }

  &__contents__article__body__head {
    background-color: rgb(180, 241, 236);
    width: 40%;
    padding: 5% 10px 0 10px;
  }

  &__contents__article__body__introduction {
    background-color: rgb(72, 219, 72);
    width: 60%;
    padding: 5% 10px 0 10px;
  }

  &__contents__article__profile {
    padding: 5px 15px 5px 5px;
    // color: white;
  }
}

footer {
  background-color: black;
  // text-align: center;
  // margin-top: auto;
  color: white;
  height: 60px;
  padding: 20px;
}
